{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "inject": true,
    "module": true
  }
}
